<<<<<<< HEAD
<<<<<<< HEAD
@using Microsoft.AspNetCore.Components.Routing

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3></h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {}
   
=======
=======
>>>>>>> d989c1677c3581981e9a0d970857f031537c8d45
﻿<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<<<<<<< HEAD
>>>>>>> d989c1677c3581981e9a0d970857f031537c8d45
=======
>>>>>>> d989c1677c3581981e9a0d970857f031537c8d45
